body {
    background-image: url(../images/mountains&lake.jpeg);
    overflow-x: hidden;
    background-size: cover;
    background-repeat: no-repeat;
	max-width: 100%;
}

#navy {
    background-color: navy;
}

#navy2 {
    background-color: navy;
}

#navy3 {
    background-color: navy;
}

#navy4 {
    background-color: navy;
	border-radius: 0px !important;
}

#navydiv {
    background-color: navy;
    /* width: 220px; */
}
#navydiv1 {
    background-color: navy;
    /* width: 220px; */
}

#navydiv2 {
    background-color: navy;
    /* width: 220px; */
}
#navydiv3 {
    background-color: navy;
    /* width: 220px; */
}

#navydiv4 {
    background-color: navy;
    /* width: 220px; */
}

#no-ptb {
	padding-top: 0px;
	padding-bottom: 0px;
}

#mb-0 {
    margin-bottom: 0px;
}

#mb1-0 {
    margin-bottom: 0px;
}

#mb2-0 {
    margin-bottom: 0px;
}

hr {
	width: 880px;
}

#jumbo-fix {
	padding-bottom: 36px;
	margin-bottom: 48px;
	padding-top: 0px;
}

#pt-fix {
	padding-top: 30px;
}

#pl-fix {
	padding-left: 0px;
}

.navy {
    color: navy;
}

.arial {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.no-border {
    border: none;
}

#footer {
  position: relative;
  width: 100%;
  bottom: 0;
  right: 0;
}

button {
    max-width: 150px;
    font-size: 12px;
    background-color: navy;
    border: 1px dashed blue;
}




@media (min-width: 640px) and (max-width: 768px) {
    .navbar-nav {
        float: none;
    }
    .card-img-overlay {
		width: 50%;
		
	}
	
	/* .row {
		width: 500px;
		margin: 0 auto;
	} */
}

/*works for header row*/
@media (min-width: 768px) and (max-width: 980px) {
	hr {
		width: 640px;
	}
}

@media (min-width: 640px) and (max-width: 768px) {
	#no-ptb {
		padding-left: 0px;
		padding-right: 0px;
	}
	hr {
		width: 460px;
	}
	img {
		width: 100px;
	}
}

@media (max-width: 640px) {
	#no-ptb {
		padding-left: 0px;
		padding-right: 0px;
	}
	hr {
		width: 880px;
	}
}